<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link rel = "stylesheet" href = "css/style1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Template 1</title>
</head>
<body>

<div class="container" id="container">
	
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Enter your details</h1>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="email" placeholder="Username" />
			<input type="password" placeholder="Password" />
			<input type="password" placeholder=" Confirm Password" />
			<button class="login">REGISTER</button>
		</form>
	</div>

	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Sign In</h1>
			<input type="email" placeholder="Username" />
			<input type="password" placeholder="Password" />
			<button class = "login">LOGIN</button>
		</form>
	</div>
	
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Hello again!</h1>
				<p>Happy to see you back. Log in now!</p>
				<button class="register" id="signIn">SIGN IN</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello there!</h1>
				<p>Not a part of the community yet?<br> Create your account today!</p>
				<button class="register" id="signUp">SIGN UP</button>
			</div>
		</div>
	</div>
</div>



</body>
<script src = "js/script1.js"></script>
</html>